@font-face {
  font-family: 'Orbitron';
  src: url('/fonts/Orbitron/Orbitron-Regular.ttf') format('truetype');

  font-display: swap;
}

:root {
  --theme: 'dark';
  --theme-color-lightest: hsl(0, 0%, 10%);
  --theme-color-lighter: hsl(0, 0%, 20%);
  --theme-color-light: hsl(0, 0%, 40%);
  --theme-color-strong: hsl(0, 0%, 60%);
  --theme-color-stronger: hsl(0, 0%, 80%);
  --theme-color-strongest: hsl(0, 0%, 100%);

  /* fonts */
  --theme-font-family: 'Orbitron';
  --theme-font-color: hsl(0, 0%, 90%);
}
